<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.min.js" charset="utf-8"></script>
<script src="//d3js.org/d3.v4.min.js"></script>

<body>
    <div class="container">
        <header>"Ivy Branch"</header>
        <div id="garden" class="garden">
            <script>
                var svg = d3.select("#garden").append("svg")
            </script>
        </div>
        <div class="toggle">
            "Toggle Section"
        </div>
        <footer></footer>
    </div>
</body>